{% extends "email/base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
<tr>
  <td align="center">
    <h1>
      {% blocktrans with username=user.username %}
      Hola {{ username }},
      {% endblocktrans %}
    </h1>
  </td>
</tr>
<tr>
  <td align="center">
    <table border="0">
      <tr>
        <td align="center" style="max-width: 300px; padding: 20px 0; color: #1A1F2E;">
          {% blocktrans %}
          Recibimos una solicitud para restablecer la contraseña de tu cuenta de ADES — Instituto Nevadi. Usa el botón de abajo para definir una nueva contraseña.
          {% endblocktrans %}
        </td>
      </tr>
      <tr>
        <td align="center" class="btn btn-primary">
          <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">{% trans 'Restablecer contraseña' %}</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}

{% block sub_content %}
<tr>
  <td style="padding: 20px; font-size: 12px; color: #1A1F2E;" align="center">
    {% blocktrans with expires=expires|naturaltime %}
    Si tú no solicitaste este cambio de contraseña, puedes ignorar este correo. El enlace anterior es válido por {{ expires }}.
    {% endblocktrans %}
  </td>
</tr>
{% endblock %}
